version: 2
jobs:
  build:
    docker:
      - image: python:3.7.1
      - image: quay.io/uktrade/ftps-s3-minio:latest
        environment:
          MINIO_ACCESS_KEY: AKIAIOSFODNN7EXAMPLE
          MINIO_SECRET_KEY: wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
          MINIO_REGION: us-east-1
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            pip install -r requirements-test.txt
            curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
            chmod +x ./cc-test-reporter
      - run:
          name: Run tests
          command: |
            ./cc-test-reporter before-build
            ./tests-with-coverage.sh
            coverage xml
            ./cc-test-reporter after-build --exit-code $?
      - run:
          # These are installed separately to ensure we don't
          # accidentally pass the tests with dependencies not
          # requires by setup.py
          name: Install linting dependencies
          command: |
            pip install pre-commit==1.8.2 pylint==2.1.1
            pre-commit install --install-hooks
      - run:
          name: Run linting
          command: pre-commit run --all-files
